body {
  font-family: "Raleway";
  background-color: white;
}

h1, h2, h4  {
  font-family: 'Archivo Black';
}

nav {
  background-color: white;
}

.nav-link, .nav-link:visited {
  color: black;
}

.nav-link:hover {
  animation: fadein 1s;
}

/* Home */
.seal {
  width: 15rem;
  height: auto;
}

.jumbotron {
  margin-top: 3rem;
  background-color: #E4E79F;
}

.statutes {
  padding: 2rem;
}

.img-fluid {
  padding: 1rem 0;
}

/* About */
#pawnee {
  padding: 5rem;
  background-image: url("./assets/city_of_pawnee.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  margin-top: 5rem;
}
.map {
  width: 100%;
}

/* Media */

#lilSebastian {
  width: 30%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
  margin: 3rem 0;
}

p, li {
  text-align: left;
}

.footer {
  font-size: .8rem;
  text-align: center;
}

/* Animation */

@keyframes fadein {
  from {
    border-top: 2px solid rgba(233, 234, 225, 0);
    border-bottom: 2px solid rgba(233, 234, 225, 0);
  }
  to {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
}
