@font-face {
  font-family: "Raleway", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Raleway");

}

@font-face {

}

body {
  font-family: "Raleway";
  background-color: #E9EAE1;
}

h1 {

}

.seal {
  width: 15rem;
  height: auto;
}

.about {
  margin-top: 5rem;
}
.map {
  width: 100%;
}

.jumbotron {
  margin-top: 3rem;
  background-color: #abada1;
}

p, li {
  text-align: left;
}
/* .col-4 {
  border: 1px solid black;
} */
